app-cube-animation{
  height: 100%;
}


ion-button {
  width: 200px;
  height: 20px;
}

hr {
  margin: 2rem 0;
  background-color: black;
}
.box {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
