<app-navbar [navbar]="true"></app-navbar>

<!-- кнопки для перемикання пошуку по заголовку або по тексту -->
<div style="display: flex;">
    <ion-button (click)="searchField = 'title'" style="width: 100px;">title</ion-button>
    <ion-button (click)="searchField = 'text'" style="width: 100px;">text</ion-button>
</div>

<!-- [(ngModel)]="search" потрібно шоб перевіряти інпут чи там є символи -->
<input [(ngModel)]="search" type="text" style="background-color: rgb(208, 205, 205); margin: 20px;">

<!-- Робимо цикл по перебору постів і приміняємо наш пайп -->
<div *ngFor="let post of posts | filter:search:searchField">

    <!-- виводимо заголовки постів -->
   <h2>{{post.title}}</h2> 
  <!-- виводимо текст постів -->
   <p>{{post.text}}</p> 

</div>
