.articles {
  width: 100%;
  padding: 20px;
  .article {
    border-top: 1px solid gray;
    min-height: 76px;

    .name {
      display: flex;
      justify-content: space-between;
      span {
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;
        letter-spacing: -0.01em;
        color: black;
      }
      img.rotated {
        transform: rotate(180deg);
      }
    }

    .info {
      span {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.44444;
        color: gray;
      }
    }
  }
  .article:last-child {
    border-bottom: 1px solid gray;
  }
}
