ion-content {
  --background: white;
}

.items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form {
  margin-bottom: 20px;
  div {
    margin-bottom: 10px;
    input {
      background-color: white;
    }
  }
}

.buttons {
  ion-button {
    margin-right: 10px;
    width: 120px;
    height: 40px;
    border: 1px solid black;
    border-radius: 30px;
    --border-radius: 30px;
    --background: none;
    color: black;
    &.active {
      --background: brown;
      color: white;
    }
  }
}

.has-error {
  border-color: rgb(240, 106, 106);
  box-shadow: 0 0 0 0.25rem red;
  // focus потрібно для того коли поле не в фокусі то виконуються дії
  &:focus {
    border-color: rgb(240, 106, 106);
    box-shadow: 0 0 0 0.25rem red;
  }
}

// .absolute-container {
//   width: 100%;
//   height: 100vh;
//   position: relative;
//   z-index: 0;
//   .left-container {
//     width: 50%;
//     height: 100%;
//     background-color: #3c434a;
//   }
//   .right-container {
//     width: 50%;
//     height: 100%;
//     background-color: #f8fafc;
//   }
//   .center-absolute-container {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     top: 0;
//     z-index: 1;
//     .container {
//       padding-top: 100px;
//       .left-content,
//       .right-content {
//         width: 50%;
//         .title {
//           font-size: 50px;
//           color: var(--white);
//         }
//         .subtitle {
//           font-size: 18px;
//           color: var(--light-pink);
//         }
//       }
//     }
//   }
// }

//   <!-- частина для реєстрації -->

@media (max-width: 1100px) {
  .absolute-container {
    .center-absolute-container {
      .container {
        .left-content,
        .right-content {
          .title {
            font-size: 30px;
          }
          .subtitle {
            font-size: 18px;
            width: 80%;
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .absolute-container {
    .left-container {
      display: none;
    }
    .right-container {
      display: none;
    }
    .center-absolute-container {
      .container {
        padding-top: 30px;
        .left-content {
          display: none;
        }
        .right-content {
          width: 100%;
        }
      }
    }
  }
}

// @media (max-width: 1100px) {
//   .absolute-container {
//     .center-absolute-container {
//       .container {
//         .left-content,
//         .right-content {
//           .title {
//             font-size: 30px;
//             color: var(--white);
//           }
//           .subtitle {
//             font-size: 18px;
//             color: var(--light-pink);
//             width: 80%;
//           }
//         }
//       }
//     }
//   }
// }

// @media (max-width: 950px) {
//   .absolute-container {
//     .left-container {
//       display: none;
//     }
//     .right-container {
//       display: none;
//     }
//     .center-absolute-container {
//       .container {
//         padding-top: 30px;
//         .left-content {
//           display: none;
//         }
//         .right-content {
//           width: 100%;
//         }
//       }
//     }
//   }
// }
